[Unit]
Description=DDoS Detection Web Service
After=network.target mongodb.service redis-server.service ddos-detector.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/ddos_detector
Environment=PYTHONPATH=/home/ubuntu/ddos_detector
ExecStart=/home/ubuntu/ddos_detector/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 